@font-face {
    font-family: "JetBrainsMono";
    src: url("https://av9.dev/fonts/jetbrainsmono-regular-webfont.eot");
    src: url("https://av9.dev/fonts/jetbrainsmono-regular-webfont.woff2") format("woff2"),
         url("https://av9.dev/fonts/jetbrainsmono-regular-webfont.woff") format("woff"),
         url("https://av9.dev/fonts/jetbrainsmono-regular-webfont.ttf") format("truetype"),
         url("https://av9.dev/fonts/jetbrainsmono-regular-webfont.svg#JetBrainsMono") format("svg");
}

@font-face {
    font-family: "JetBrainsMonoExtraBold";
    src: url("https://av9.dev/fonts/jetbrainsmono-extrabold-webfont.eot");
    src: url("https://av9.dev/fonts/jetbrainsmono-extrabold-webfont.woff2") format("woff2"),
         url("https://av9.dev/fonts/jetbrainsmono-extrabold-webfont.woff") format("woff"),
         url("https://av9.dev/fonts/jetbrainsmono-extrabold-webfont.ttf") format("truetype"),
         url("https://av9.dev/fonts/jetbrainsmono-extrabold-webfont.svg#JetBrainsMonoExtraBold") format("svg");
}

body {
    font-family: "JetBrainsMono" !important;
}

h1, h2 {
    font-family: "JetBrainsMonoExtraBold" !important;
}
