@font-face {
    font-family: "JetBrainsMono";
    src: url("https://whipcode.app/static/fonts/jetbrainsmono-regular-webfont.eot");
    src: url("https://whipcode.app/static/fonts/jetbrainsmono-regular-webfont.woff2") format("woff2"),
         url("https://whipcode.app/static/fonts/jetbrainsmono-regular-webfont.woff") format("woff"),
         url("https://whipcode.app/static/fonts/jetbrainsmono-regular-webfont.ttf") format("truetype"),
         url("https://whipcode.app/static/fonts/jetbrainsmono-regular-webfont.svg#JetBrainsMono") format("svg");
}

body {
    font: "JetBrainsMono";
}
